<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    //Servlet-Declaratiom
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.HelloServlet</servlet-class>
    </servlet>

    //Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>


    //Gerneric Servlet-Declaratiom
    <servlet>
        <servlet-name>Second</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.SecondServlet</servlet-class>
    </servlet>


    //Generic Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/Gens</url-pattern>
    </servlet-mapping>


    //Http Servlet-Declaratiom
    <servlet>
        <servlet-name>Httpserve</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.ProtocolSpecific</servlet-class>
    </servlet>


    //Http Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Httpserve</servlet-name>
        <url-pattern>/httpserve</url-pattern>
    </servlet-mapping>

</web-app>