<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>home.html</welcome-file>
    </welcome-file-list>

    //Servlet-Declaratiom
    <servlet>
        <servlet-name>Hello</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.HelloServlet</servlet-class>
    </servlet>

    //Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/myservlet</url-pattern>
    </servlet-mapping>


    //Gerneric Servlet-Declaratiom
    <servlet>a
        <servlet-name>Second</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.SecondServlet</servlet-class>
    </servlet>


    //Generic Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Second</servlet-name>
        <url-pattern>/Gens</url-pattern>
    </servlet-mapping>


    //Http Servlet-Declaratiom
    <servlet>
        <servlet-name>Httpserve</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.ProtocolSpecific</servlet-class>
    </servlet>


    //Http Sevlet-mapping
    <servlet-mapping>
        <servlet-name>Httpserve</servlet-name>
        <url-pattern>/httpserve</url-pattern>
    </servlet-mapping>

    //Register Servlet
    <servlet>
        <servlet-name>RegisterServe</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServe</servlet-name>
        <url-pattern>/regs</url-pattern>
    </servlet-mapping>


    //Dashboard Servlet
    <servlet>
        <servlet-name>DashboardServ</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.DashboardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DashboardServ</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>



    //S1 Servlet
    <servlet>
        <servlet-name>S1</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.s1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>

    //S2 Servlet
    <servlet>
        <servlet-name>S2</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.s2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>S2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>



    //Servlet1
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.Servlet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>

    //Servlet2
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.learn.serv.geeteh.helloservlet.Servlet2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>


</web-app>